div {
    display: flex;
    padding: 10px;
}

h1 {
    color: navy;
    text-align: center;
    margin-left: 50px;
    font-size: 40px;
    font-family: cursive;
    font-weight: bold;
    padding-top: 30px;

}

.search {
    margin-left: 50px;
    padding-top: 20px;

}
.icon {
    display: flex;
    justify-content: space-between;
    margin-left: 1200px;
    margin-top: -90px;
    padding-right: 1em;
    margin-right: 30px;
    overflow: auto;
}
mat-form-field{
    font-size: small;
    margin-left:100px;
    padding-top: 30px;
    
}
#card-list {
    margin: auto;
    margin-top: 20px;
}