<mat-card class="example-card">
    <img class="img" mat-card-image src="../../assets/{{cakes.name}}.jpg" alt="" />
    <mat-card-content>
        <h3>Description</h3>
        <p>{{cakes.description}}</p>
        <p>Each gift includes a greeting card that you can personalize online and is delivered in an elegant gift box.</p>
        <h3>Delivery Information</h3>

        <ul>
            <li>
                Every cake we offer is handcrafted and since each chef has his/her own way of baking and designing a
                cake, there might be slight variation in the product in terms of design and shape.
            </li>
            <li>
                Since cakes are perishable in nature, we attempt delivery of your order only once. The delivery cannot
                be redirected to any other address.
            </li>
        </ul>

        <h3>Care Instructions</h3>
        <ul>
            <li>Store cream cakes in a refrigerator. Fondant cakes should be stored in an air conditioned environment.
            </li>
            <li>Slice and serve the cake at room temperature and make sure it is not exposed to heat.</li>
            <li>Use a serrated knife to cut a fondant cake.</li>
            <li>The cake should be consumed within 24 hours.</li>
            <li>Enjoy your cake!</li>
        </ul>

    </mat-card-content>
</mat-card>
<div class="side-content">
    <h1>{{cakes.name}}</h1>
    <div><img src="../../assets/rating.jpg" height=15>
        <h3 style="display: inline">{{cakes.rating}}</h3>
    </div>
    <h1> ${{cakes.price}}.00</h1>
    <app-order-form></app-order-form>
</div>